<div class="main_container">
  <my-top-menu></my-top-menu>


    <div class="achiev__plate">
        <img src="../images/nav_icon--1.png" alt="Достижение">
        <div class="achiev__name">
            Кладовщик
        </div>
    </div>
    <div class="achiev__plate achiev__plate--got">
        <img src="../images/ZeburA.png" alt="Достижение">
        <div class="achiev__name">
            С почином!
        </div>
    </div>
    <div class="achiev__plate">
        <img src="../images/nav_icon--4.png" alt="Достижение">
        <div class="achiev__name">
            Щедрая душа
        </div>
    </div>
    <div class="achiev__plate">
        <img src="../images/ZeburA.png" alt="Достижение">
        <div class="achiev__name">
            С почином!
        </div>
    </div>
    <div class="achiev__plate">
        <img src="../images/ZeburA.png" alt="Достижение">
        <div class="achiev__name">
            С почином!
        </div>
    </div>
    <div class="achiev__plate">
        <img src="../images/ZeburA.png" alt="Достижение">
        <div class="achiev__name">
            С почином!
        </div>
    </div>


<my-footer></my-footer>
</div>
