  <div class="main_container">
    <header>
      <nav>
        <div class="main_nav">
          <ul>
            <li><a href="#">Персонаж</a></li>
            <li><a href="#">Глобальная карта</a></li>
            <li><a href="#">Магазин</a></li>
            <li><a href="#">Достижения</a></li>
          </ul>
        </div>
        <div class="right_nav">
          <ul>Персонаж
            <li><a href="#">Имя героя</a></li>
            <li><a href="#">Настройки</a></li>
            <li><a href="#">Выход</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="education_text">Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную. Для выполнения следующего задания необходимо объявить переменную.</div>
      <div class="dialog">
        <div>
          <a href='/fight'>В бой!</a>
        </div><img src="../images/python1--opt.png" alt="Советник" class="adviser">
      </div>
    </main>
    <footer>
      <div>2016</div>
    </footer>
  </div>
