<div class="main_container">
  <my-top-menu></my-top-menu>
  <main>
    <div class="education_text">
      {{learner.text}}
    </div>
<!--     <div class="dialog">
      <div>
        <a href='\fight'>В бой!</a>
      </div><img src="../images/python1--opt.png" alt="Советник" class="adviser">
    </div> -->
   <div class="dialog">
    <div><a href="#" title="Далее">Далее..</a><a href="#" title="Повторить с начала">Пожалуйся, повторите</a><a href="\fight" title="LET'S THE BATTLE BEGIN!" class="btn__begin_battle">В бой!</a></div><img src="../images/python1--opt.png" alt="Советник" class="adviser">
  </div>

  </main>
  <my-footer></my-footer>
</div>


 