<header>
  <nav>
    <div class="main_nav">
      <ul>
        <li><a href="/inventory" title="Персонаж" class="nav__personaj"></a></li>
        <li><a href="/map" title="Глобальная карта" class="nav__global-map"></a></li>
        <li><a href="#" title="Магазин" class="nav__shop"></a></li>
        <li><a href="#" title="Достижения" class="nav__achievments"></a></li>
      </ul>
    </div>
    <div class="right_nav">
      <ul>Персонаж
        <li><a href="#">Имя героя</a></li>
        <li><a href="#">Настройки</a></li>
        <li><a href="#">Выход</a></li>
      </ul>
    </div>
  </nav>
</header>