* {
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
}

header {
  width: 100%;
  height: 50px;
  font-family: 'Cuprum', sans-serif;
  background-color: #2ecc71;
}
nav {
  height: 100%;
  font-size: 0;
  line-height: 0;
}
nav > div {
  display: inline-block;
  vertical-align: top;
}
.main_nav {
  width: calc(100% - 200px);
}
.main_nav li {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  line-height: 1;
  font-size: 12px;
}
.main_nav li:first-child {
  margin-left: 25px;
}
.main_nav li a {
  display: block;
  width: 40px;
  height: 40px;
}
.main_nav li .nav__personaj {
  background: url("../images/nav_icon--1-opt.png") no-repeat center;
  background-size: contain;
}
.main_nav li .nav__global-map {
  background: url("../images/nav_icon--2-opt.png") no-repeat center;
  background-size: contain;
}
.main_nav li .nav__shop {
  background: url("../images/nav_icon--4-opt.png") no-repeat center;
  background-size: contain;
}
.main_nav li .nav__achievments {
  background: url("../images/nav_icon--3-opt.png") no-repeat center;
  background-size: contain;
}
.right_nav {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0;
  font-size: 12px;
  line-height: 1;
}
.right_nav ul {
  position: relative;
  z-index: 1;
  height: 50px;
  padding-top: 19px;
  color: #1f1f1f;
  text-align: center;
  background-color: #95a5a6;
  font-size: 16px;
  font-family: Cuprum, sans-serif;
}
.right_nav ul li {
  display: none;
}
.right_nav ul:hover {
  height: auto;
}
.right_nav ul:hover li {
  display: block;
  position: relative;
  background-color: #95a5a6;
}
.right_nav ul:hover li a {
  display: block;
  padding: 20px 0;
}
.right_nav ul:hover li:first-child {
  margin-top: 15px;
}